---
import Layout from "../../layouts/Layout.astro";
import Inspiration from "../../components/Inspiration.astro";
import Cards from "../../components/Cards.astro";

export async function getStaticPaths() {
  const url = "https://hvecoqnwfljjoovdesze.supabase.co/rest/v1/Ditte_Lindberg_Mortensen";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2ZWNvcW53Zmxqam9vdmRlc3plIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTM2MTQsImV4cCI6MjA2Mjg2OTYxNH0.IfAjl-luys9EL5Kg-8Ecke1zw2PxrdbSakpWTUi5XWE";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const request = await fetch(url, options);
  const data = await request.json();

  return data.map((item) => {
    return {
      params: { product: item.id },
      props: { item },
    };
  });
}

const { item } = Astro.props;
---

<Layout>
  <div class="tilbageknap">
    <a class="returnbutton" href="/cardspage">Return to product page</a>
  </div>
  <div class="indhold">
    <div class="img-container">
      <img class="img1" src={item.image1} alt={`Image of ${item.name}`} />
      <img class="img2" src={item.image2} alt={`Image of ${item.name}`} />
      <img class="img3" src={item.image3} alt={`Image of ${item.name}`} />
    </div>
    <div class="info">
      <h1>{item.name}</h1>
      <div>
        <p>{item.price} DKK</p>
        <p>{item.size}</p>
      </div>

      <p>{item.info}</p>
      <div class="knap">
        <a class="primarybutton" href="/event">View event</a>
      </div>
    </div>
  </div>

  <div class="infostribe">
    <p></p>
  </div>
  <section class="infoproduct">
    <div>
      <p></p>
    </div>
  </section>
  <Inspiration />

  <style>
    .infoproduct {
      background-color: #c7d9da;
      margin: 0;
      text-align: center;
      display: grid;
      gap: 0;
      height: 70px;
      margin-bottom: 20px;
    }

    .infostribe {
      background-color: #5e878c;
      margin: 0;
      height: 30px;
    }
    .tilbageknap {
      padding-bottom: 20px;
      margin-left: 15px;
    }
    img {
      width: 100%;
    }
    .indhold {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px;
      margin-inline: 20px;
    }
    .img-container {
      grid-column: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }
    .img1 {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .info {
      display: grid;
      grid-template-rows: 1fr 1fr 3fr 1fr;
      max-height: 84%;
      margin-top: -100px;
      gap: 0px;
    }
    .knap {
      justify-self: center;
    }
    @media (min-width: 900px) {
      .tilbageknap {
        margin-left: 100px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .indhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        margin-inline: 100px; /**/
      }
      .img-container {
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
        gap: 10px;
        max-height: 500px;
      }
      .img1 {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      .info {
        display: grid;
        grid-template-rows: 1fr 1fr 3fr 1fr;
        max-height: 63%;
        margin-top: 0px;
      }
    }

    @media (min-width: 1200px) {
      .tilbageknap {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 150px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .indhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 50px;
        margin-inline: 150px;
      }
      .img-container {
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
      }
      .img1 {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      .info {
        display: grid;
        grid-template-rows: 1fr 1fr 3fr 1fr;
        max-height: 95%;
        margin-top: 0px;
      }
    }
  </style>
</Layout>
